*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:pointer ;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(c.jpg);
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
}
